﻿@model IEnumerable<SchoolManagement.Model.Entity.ExamMark>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h1>
        Exam Mark list
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            @Html.ActionLink("Create New", "Create")
        </small>
    </h1>
</div>
<table class="table">
    <tr>
        <th>
           Session Name
        </th>
        <th>
           Class Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssignRoll.Roll)
        </th>
        <th>
           Subject Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Theory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mcq)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Practical)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Session.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentClass.ClassName.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssignRoll.Roll)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Theory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mcq)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Practical)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grade)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
