﻿@using PagedList;
@using PagedList.Mvc;
@model IPagedList<SchoolManagement.Model.Entity.Subject>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <h1>
        Subject list
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            @Html.ActionLink("Create New", "Create")
        </small>
    </h1>
</div>

@using (Html.BeginForm("Index", "Subject", FormMethod.Get))
{
    //the following are search options

    <b> Search Option: </b>@*@Html.RadioButton("option", "StudentClass") <text>StudentClass</text>*@ @Html.RadioButton("option", "Name") <text>Name </text>
    @Html.RadioButton("option", "Code")<text>Subject Code</text> @Html.TextBox("search")
    <input type="submit" name="submit" value="Search" />
}

@if (Model.Count() == 0)
{
    <tr>
        <td colspan="3"> Records not found </td>
    </tr>
}
else
{
    <div class="row">
        <div class="col-xs-12">
            <table id="simple-table" class="table  table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.First().StudentClass.ClassName.Name)
                            @*@Html.DisplayNameFor(model => model.First().StudentClass.Section.Name)||*@||
                            @Html.DisplayNameFor(model => model.First().StudentClass.Shift.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().Code)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().Subject_Credit)
                        </th>
                        @*<th>
                                @Html.DisplayNameFor(model => model.SubjectAssignTo)
                            </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.First().Theory)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().Mcq)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().Practical)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().Total)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.StudentClass.ClassName.Name)
                                @Html.DisplayFor(modelItem => item.StudentClass.Section.Name)||
                                @Html.DisplayFor(modelItem => item.StudentClass.Shift.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Code)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.Subject_Credit)
                            </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.Subject_Credit)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Theory)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Mcq)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Practical)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Total)
                            </td>

                            <td>
                                <button class="btn btn-primary">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                </button>
                                    @*@Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
                            <button class="btn btn-danger">
                                <i class="fa fa-trash-o fa-lg"></i>
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                </button>
</td>
                        </tr>
                    }

                </thead>
            </table>
        </div>
    </div>

}
@Html.PagedListPager(Model, pageNumber => Url.Action("Index", new
{
    pageNumber,
    option = Request.QueryString["option"],
    search = Request.QueryString["search"]
}))
