﻿@model SchoolManagement.Models.Entity.ApplicationDocuments

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="page-header">
        <h1>
            Step 2 of 2
          
        </h1>
    </div>

@using (Html.BeginForm("Create","ApplicationDocuments",FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Upload Documents</h4>
        <hr />
       @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       @Html.HiddenFor(model=> model.ApplicationDate)
       @Html.HiddenFor(Model => Model.StudentApplicationId)

        <div class="form-group">
            @Html.LabelFor(model => model.PreviousSchool, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PreviousSchool, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PreviousSchool, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PreviousSchoolAddrs, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PreviousSchoolAddrs, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PreviousSchoolAddrs, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PreviousSchoolDocument, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="PreviousSchoolDocument1" id="PreviousSchoolDocument1" onchange="readURL(this);" class="form-control" required="required" accept=".pdf"/>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Certificate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="Certificate1" id="Certificate1" onchange="readURL(this);" class="form-control" required="required" accept=".pdf"/>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CertifiedID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="CertifiedID1" id="CertifiedID1" onchange="readURL(this);" class="form-control" required="required" accept=".pdf"/>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HomeAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="HomeAddress1" id="HomeAddress1" onchange="readURL(this);" class="form-control" required="required"accept=".pdf" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
