﻿@model IEnumerable<SchoolManagement.Models.Entity.AssignTeacheToClass>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentClass.ClassName.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Teacher.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StudentClass.ClassName.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Teacher.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TeacherClassId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TeacherClassId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TeacherClassId })
        </td>
    </tr>
}

</table>
